In [8]:
s = "harsh"
for i in s:
  print(i, end=" ")

h a r s h

First N Natural Numbers

In [11]:
# here we are giving only one values to range that is stop and start is by default 0 and stride/step is by default 1
n = int(input())
for i in range(n+1):
  print(i, end= " ")

0 1 2 3 4

In [12]:
# here we are giving only two values to range that is start and stop and stride/step by by default to be 1
n = int(input())
for i in range(1, n+1):
  print(i, end= " ")

1 2 3 4

In [13]:
# here we are giving all three values to range
n = int(input())
for i in range(1, n+1, 2):
  print(i, end= " ")

1 3 5 7 9

Numbers From N To 1

In [15]:
n = int(input())
for i in range(n, 0, -1):
  print(i, end= " ")

5 4 3 2 1

Print All Multiple Of 3 From a to b

In [16]:
a = int(input())
b = int(input())

if a % 3 == 0:
  s = a
elif a % 3 == 1:
  s = a + 2
else:
  s = a + 1

for i in range(s, b+1, 3):
  print(i, end = " ")

0 3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99